<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Societe</th>
                <th>DatePub</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.nom }}</td>
                    <td>{{ project.societe }}</td>
                    <td>{{ project.datePub|date('Y-m-d') }}</td>
                    <td>{{ project.deadline|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
